ul {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

.place-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

.place-item button {
  width: 100%;
  display: block;
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.place-item:nth-child(odd) button:hover{
  border-radius: 8px;
  transform: rotate(5deg);
}

.place-item:nth-child(even) button:hover{
  border-radius: 8px;
  transform: rotate(-5deg);
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.image-container h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0;
  background-color: #feee86;
  padding: 0.7rem 0.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (min-width:319px) and (max-width:374px) {  
  .place-item button {
      width: 40%;
  }
    .image-container img {
      width: 75%;
      margin: auto;
    }
    .image-container h3{
      width: 75%;
    }
}

@media (min-width:375px) and (max-width:440px) {  
    .image-container img {
      width: 90%;
      margin: auto
    }
    .image-container h3{
      width: 90%;
    }
}

@media (min-width:441px) and (max-width:768px) {  
    .image-container img {
      width: 90%;
      margin: auto;
    }
    .image-container h3{
      width: 90%;
    }
}

@media (min-width:768px) and (max-width:991px) {  
  .image-container img {
      width: 90%;
      margin: auto;
  }
  .image-container h3{
      width: 90%;
  }
}

@media (min-width:992px) and (max-width:1300px) {  
  .image-container img {
      width: 90%;
      margin: auto;
  }
  .image-container h3{
      width: 90%;
  }
}